<footer id="footer" class="s-footer">
  <div class="row">
    <div class="columns">
      <div class="earth"></div>
      <p><strong>青山学院大学 地球社会共生学部</strong></p>
      <ul>
        <li><a href="/general/access.html">交通アクセス</a></li>
        <li><a href="/general/sitepolicy.html">このサイトについて</a></li>
        <li><a href="/general/contact.html">お問い合わせ</a></li>
        <li><a href="/general/sitemap.html">サイトマップ</a></li>
      </ul>
      <p>〒252-5258 <a href="https://goo.gl/maps/iCCQ1KVXY852" target="_blank">神奈川県相模原市中央区淵野辺 5-10-1（相模原キャンパス）</a><br />&copy; Aoyama Gakuin University, The School of Global Studies and Collaboration (GSC), <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
    </div>
  </div>
</footer>