---
layout: default
---

<section class="page-section s-cover">
  <section class="content-section">
    <div class="row">
      <div class="columns">
        <p><span>Learning</span><span>Beyond</span><span>Boundaries.</span><span>Collaboration</span><span>Beyond</span><span>Differences</span></p>
        <!--p><span>国境を</span><span>越える</span><span>学びで、</span><span>共に</span><span>生きる</span><span>力を</span></p-->
      </div>
    </div>
  </section>
</section>
<section class="page-section s-lead">
  <section class="content-section">
    <div class="row">
      <div class="columns">
        <p>The School of Global Studies and Collaboration (GSC) was established in 2015 with the goal of cultivating students’ intellectual capacity and leadership to thrive in a rapidly changing globalized world. </p>
      </div>
    </div>
  </section>
</section>
<div class="row">
  <div class="medium-8 large-8 columns">
    {{ content }}
    <div class="topic">
      <a href="{{ '/career/' | relative_url }}">
        <div class="image">
          <img src="{{ '/assets/images/home_interview.png' | relative_url }}" alt="">
        </div>
        <div class="text">
          <p class="tagline"><span>Andrew Hampson ✕ Natasha Zamil</span></p>
          <h2>Student Voices</h2>
          <p class="description">AGU’s Japan Studies Program has provided me with a comprehensive learning experience synthesizing both academic and cultural curricula into one fantastic journey. I was able to achieve personal growth through every experience at AGU, becoming a more well-rounded student and global citizen, as well as, give back to the AGU community by sharing my own cultural heritage, language and friendship.</p>
        </div>
      </a>
    </div>
    <ul class="list-pannel">
      <li>
        <a href="{{ '/introduction/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_interview.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>Overview</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/teacher/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_about.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>Academics</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/campus/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_studyabroad.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>Campus Life</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/studyabroad/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_teacher_int.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>Admission</strong></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="medium-4 large-4 columns">
    <aside id="aside">
      <p class="title">What’s New</p>
      <ul class="list-news">
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}<br>
              <span class="date">{{ post.date | date: "%Y.%m.%-d" }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="facebook">
        <div class="fb-page" data-href="https://www.facebook.com/japanstudiesagu/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/aoyamagsc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aoyamagsc/">青山学院大学 地球社会共生学部</a></blockquote></div>
      </div>
      <ul class="share">
        <li><a href="https://www.facebook.com/japanstudiesagu/" target="_blank"><i class="icon -facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon -twitter"></i></a></li>
      </ul>
    </aside>
  </div>
</div>
