---
layout: default
---

<section class="page-section s-cover">
  <section class="content-section">
    <div class="row">
      <div class="columns">
        <p><span>国境を</span><span>越える</span><span>学びで、</span><span>共に</span><span>生きる</span><span>力を</span></p>
      </div>
    </div>
  </section>
</section>
<section class="page-section s-lead">
  <section class="content-section">
    <div class="row">
      <div class="columns">
        <p>青山学院大学 地球社会共生学部は、社会科学系の幅広い学問基盤のもと、<br />「共生マインド」を体得したうえで、専門能力を身につけるグローバル系の学部です。</p>
        <p>カリキュラムや入試情報などを掲載しています。</p>
      </div>
    </div>
  </section>
</section>
<div class="row">
  <div class="medium-8 large-8 columns">
    {{ content }}
    <div class="topic">
      <a href="{{ '/career/yahooxgsc/' | relative_url }}">
        <div class="image">
          <img src="{{ '/assets/images/v1/2015/03/home_interview.png' | relative_url }}" alt="">
        </div>
        <div class="text">
          <p class="tagline"><span>橘田正造 教授 ✕ 村上臣 ヤフー(株)執行役員 対談</span></p>
          <h2>既存のフレームや先入観を問い直そう</h2>
          <p class="description">アジア開発銀行等多くの国際機関での実務を経験してきた橘田教授と、青山学院大学OBとしてヤフー株式会社の執行役員を務める傍ら、Bharti Softbank（ソフトバンクとインド Bharti Airtelの合弁会社）とヤフーが設立したインド企業 “Ignite World” の取締役を務める村上臣氏が、リアルなアジアの状況と、これからの可能性について熱く語る対談の様子をお伝えします。</p>
        </div>
      </a>
    </div>
    <ul class="list-pannel">
      <li>
        <a href="{{ '/introduction/interview/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_interview.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>学部長インタビュー</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/introduction/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_about.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>地球社会共生学部とは</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/introduction/studyabroad/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_studyabroad.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>留学制度</strong></p>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ '/teacher/interview/' | relative_url }}">
          <div class="image">
            <img src="{{ '/assets/images/v1/2015/03/pickup_teacher_int.jpg' | relative_url }}" alt="">
          </div>
          <div class="text">
            <p><strong>教員インタビュー</strong></p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="medium-4 large-4 columns">
    <aside id="aside">
      <p class="title">学部ニュース</p>
      <ul class="list-news">
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}<br>
              <span class="date">{{ post.date | date: "%Y.%m.%-d" }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="facebook">
        <div class="fb-page" data-href="https://www.facebook.com/aoyamagsc/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/aoyamagsc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aoyamagsc/">青山学院大学 地球社会共生学部</a></blockquote></div>
      </div>
      <ul class="share">
        <li><a href="https://www.facebook.com/aoyamagsc/" target="_blank"><i class="icon -facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon -twitter"></i></a></li>
      </ul>
      <p class="rss-subscribe">subscribe <a href="">via RSS</a></p>
    </aside>
  </div>
</div>